<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yartu Icon Kit</title>
    <link rel="shortcut icon" href="/src/assets/logo/yartu-logo-shape.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/assets/css/output.css">
    <link rel="stylesheet" href="/src/assets/css/index.css">
    <link rel="stylesheet" href="/src/generated-font-icons/{{fontName}}.css">
  </head>
  <body>
    <div class="h-screen flex flex-wrap">
      <div id="header" class="fixed z-10 bg-white top-0 self-start w-full pl-24 pr-[26rem] p-7 border border-gray-200">
        <div class="flex flex-row flex-wrap items-center">
          <div>
            <img class="h-10" src="/src/assets/logo/yartu-logo-horizontal.svg" alt="logo">
          </div>
          <div class="flex-1 px-7 text-center">
            <div class="relative inline-block w-full">
              <div class="absolute top-0 bottom-0 my-auto h-14 w-14 flex items-center justify-center text-gray-400">
                <i class="yi yi-search"></i>
              </div>
              <input class="w-full h-12 rounded-full pl-14 focus:border-blue-500 active:border-blue-500 border"
                type="text" id="search" onkeyup="search()" placeholder="Search in icons...">
            </div>
          </div>
        </div>
      </div>
      <div class="bg-slate-100 flex-1 pt-28 pl-7 pr-96">
        <div class="flex flex-wrap flex-col gap-6 p-7">
          <div class="flex flex-wrap gap-6 justify-center">
            {{#each names}}
            <div id="item-{{this}}" onclick="selected(this);"
              class="icons-container w-32 h-32 rounded-xl bg-white flex flex-col justify-center text-4xl items-center text-gray-400 py-6 cursor-pointer hover:shadow-xl border transition-all border-gray-200">
              <div>
                <i class="{{removePeriods ../baseSelector}} {{../classPrefix}}{{this}}"></i>
                <div class="hidden p-4 py-7 font-normal">
                  <div class="flex flex-row items-center justify-between">
                    <div>
                      <h6 class="font-semibold text-sm text-[#3663F2]">Icon name:</h6>
                      <p class="text-xs icon-name text-gray-600" id="icon-name-{{this}}">{{this}}</p>
                    </div>
                    <div>
                      <button type="button" class="text-blue-500 active:text-blue-700 font-semibold text-sm text-center"
                        onclick="CopyToClipboardFontIcon('icon-name-{{this}}')">
                        <i class="yi yi-copy"></i>
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-row justify-between items-center mt-7">
                    <div>
                      <p class="text-sm font-semibold text-[#3663F2]"> Icon Selector </p>
                      <code class="font-sans text-xs text-gray-600">
                      <span id="selector-{{this}}">&lt;i class="{{removePeriods ../baseSelector}} {{../classPrefix}}{{this}}"&gt;&lt;/i&gt;</span> 
                    </code>
                    </div>
                    <div>
                      <button type="button" class="text-blue-500 active:text-blue-700 font-semibold text-sm text-center"
                        onclick="CopyToClipboardFontIcon('selector-{{this}}')">
                        <i class="yi yi-copy"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div
          class="w-96 fixed z-20 flex flex-col flex-wrap right-0 top-0 bottom-0 max-w-sm h-full border border-gray-200 bg-white p-7">
          <div class="w-full h-80 bg-slate-100 border-slate-200 border rounded-2xl flex items-center justify-center">
            <div id="selected"
              class="w-60 h-60 flex items-center justify-center !text-[256px] text-[#9aa1b4] rounded-2xl">
              <img class="h-10" src="/src/assets/logo/yartu-logo-horizontal.svg" alt="logo">
            </div>
          </div>
          <div class="mt-6 mb-2 p-4 font-semibold border rounded-2xl flex justify-between items-center">
            <span class="text-sm font-semibold text-[#3663F2]"> Select Color </span>
            <input id="color-picker" class="rounded" type="color" value="#9aa1b4">
          </div>
          <div id="metadata" class="mt-2 font-semibold min-h-[122px] border rounded-2xl">
            <div class="p-4 py-7 font-normal">
              <div class="flex flex-row items-center justify-between">
                <div class="bg-slate-100 h-10 w-full rounded-2xl">
                </div>
              </div>
              <div class="flex flex-row justify-between items-center mt-7">
                <div class="bg-slate-100 h-10 w-full rounded-2xl">
                </div>
              </div>
            </div>
          </div>
          <div class="mt-auto text-right">
            <a href="/src/views/colored-icons" type="button"
              class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">Switch
              To Colored Icons</a>
          </div>
        </div>
      </div>
      <div id="snackbar">Copied</div>
      <script src="/src/assets/js/search.js"></script>
      <script src="/src/assets/js/setColor.js"></script>
      <script src="/src/assets/js/select.js"></script>
      <script src="/src/assets/js/copyToClipBoard.js"></script>
  </body>
</html>
